<!DOCTYPE html>
<html ng-app="StatiSticksapp">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script type="text/javascript" src="js/parse-1.3.4.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <link rel="stylesheet" href="css/contour.min.css">
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.js"></script>
    <script src="js/contour.js"></script>
    <script type="text/javascript" src="js/GraphFunction.js"></script>
    <title>StatSticks</title>
</head>

<body ng-controller="MainCtrl">
    <header class="light-blue lighten-2">
        <nav class="light-blue">
            <ul id="slide-out" class="side-nav">
                <div id="welcome">
                    <h5>Welcome <span>Steve</span> </h5>
                </div>
                <div id="main-navigation">
                    <li id="profileNav"> <a>Profile</a></li>
                    <li id="statNav"><a>Stats</a></li>
                    <li id="graphNav"><a>Graph</a></li>
                    <li id="aboutNav"><a>About</a></li>
                    <hr/>
                    <li><a ng-click="logOut()" id="navbarLogOut">Log Out</li></a>
                </div>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
            <div class="center-align" id="page-title"></div>
        </nav>
    </header>

    <div class="page" id="home" data-role="page" data-page="home">
        <div id="backgroundImage">
            <img src="img/hockey.png" alt="Background Image">
        </div>
        <div id="homeButtons">
            <div class="row">
                <div class="center-text col s12">
                    <button data-target="modal1" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 "> Log In </button>
                    <button data-target="modal2" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 "> Sign Up </button>
                </div>
            </div>
            <div class="row">
                <div class="center-text col s12">
                    <button id="offlineButton" class="waves-effect waves-light btn light-blue lighten-2">Offline Mode</button>
                </div>
            </div>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="input-field col s12" align="center">
                        <h5>Login</h5>
                    </div>
                </div>
                <form id="logInForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="loginName">Username:</label>
                            <br>
                            <input type="text" name="loginName" ng-model="loginName" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="loginPass">Password:</label>
                            <br>
                            <input type="password" name="loginPass" id="loginPass" ng-model="loginPass" value="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="center-text col s12">
                <div class="modal-buttons" align="center">
                    <a href="" id="logInSend" class="modal-action modal-close waves-effect waves-light btn light-blue lighten-2 left-padding" ng-click="login()">Login</a>
                    <a href="" class="modal-action modal-close waves-effect waves-light btn light-blue lighten-2 left-padding">Close</a>
                </div>
            </div>
        </div>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <div class="row">
                    <div class="input-field col s12" align="center">
                        <h5>Login</h5>
                    </div>
                </div>
                <form id="signUpForm">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="signUpName">Username:</label>
                            <input type="text" name="signUpName" id="signUpName" ng-model="signUpName" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="signUpPass">Password:</label>
                            <input type="password" name="signUpPass" id="signUpPass" ng-model="signUpPass" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="signUpPass">Email:</label>
                            <input type="text" name="email" id="email" value="" ng-model="signUpEmail" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="center-text col s12">
                <div class="modal-buttons" align="center">
                    <a href="" id="signUpSend" class="modal-action modal-close left-padding waves-effect waves-light btn light-blue lighten-2" ng-click="signUp()">Sign Up</a>
                    <a href="" class="modal-action modal-close left-padding waves-light btn light-blue lighten-2 ">Close</a>
                </div>
            </div>
        </div>
    </div>


    <div class="page" id="profile" data-role="page">
        <div class="row">
            <div class="center-text col s12">
                <p id="editButton">Edit</p>
                <br>
                <p id="saveButton">Save</p>
            </div>
        </div>
        <div class="row">
            <div class="center-text col s12">
                <div id="profilePic" align='center'></div>
            </div>
        </div>
        <div class="row">
            <div class="center-text col s12">
                <h5 id="UsersName" align='center'> {{userDetails.get('username')}}</h5>
            </div>
        </div>
        <form id="fileupload" name="fileupload" enctype="multipart/form-data" method="post">
            <h5>Update Profile Picture</h5>
            <fieldset>
                <label> Upload from Files:</label>
                <br>
                <input type="file" name="fileselect" id="fileselect" ng-bind="profilePic">
                <br>
                <input ng-click="uploadProfilePic()" type="button" value="Upload to Parse" />
            </fieldset>
        </form>
        <div class="row">
            <div class="center-text col s12">
                <h2 id="usernameDisplay"></h2>
            </div>
        </div>
        <div class="row">
            <div class="center-text col s12">
                <form>
                    <select id="graphList" ng-model="profileGraph">
                        <option ng-repeat="graph in userGraphs" value="{{graph.get('Name')}}">{{graph.get('Name')}}</option>
                    </select>
                </form>
            </div>
            <div class="col s12" align="center">
                <button data-target="modal6" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 " ng-click="viewgraph()"> View Graph </button>
            </div>
        </div>
        <div class="row">
            <div class="center-text col s12">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Stats</div>
                        <div class="collapsible-body">
                            <p> Games: <span>{{userStats.get('Games')}}</span></p>
                            <p> Minutes: <span>{{userStats.get('Minutes')}}</span></p>
                            <p> Goals: <span>{{userStats.get('Goals')}}</span></p>
                            <p> Assists: <span>{{userStats.get('Assists')}}</span></p>
                            <p> Passes: <span>{{userStats.get('Passes')}}</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="modal6" class="modal">
            <div class="modal-content">
              <div id="profileGraph"></div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>


    <div class="page" id="stats" data-role="page">
        <div class="row">
            <div class="col s12" id="initStats"><p> It appears that that this is your first time visiting the stats section, please fill in your current stats using the bytton below</p></div>
            <div class="col s12" id="accStats"><p> How did your game go? Press the button at the bottom of the page to add your latest stats</p></div>
        </div>

        <div class="row" id="statsRow">
            <div class="center-text col s12">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Stats</div>
                        <div class="collapsible-body">
                            <p> Games: <span>{{userStats.get('Games')}}</span></p>
                            <p> Minutes: <span>{{userStats.get('Minutes')}}</span></p>
                            <p> Goals: <span>{{userStats.get('Goals')}}</span></p>
                            <p> Assists: <span>{{userStats.get('Assists')}}</span></p>
                            <p> Passes: <span>{{userStats.get('Passes')}}</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="advancedStatsRow">
            <div class="center-text col s12">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Advanced Stats</div>
                        <div class="collapsible-body">
                            <p> Goals per game: <span>{{userAdvancedStats.goalsPerGame}}</span></p>
                            <p> Minutes per game: <span>{{userAdvancedStats.minutesPerGame}}</span></p>
                            <p> Assists per game: <span>{{userAdvancedStats.assistsPerGame}}</span></p>
                            <p> Passes per game: <span>{{userAdvancedStats.passesPerGame}}</span></p>
                            <p> Passes per Assist: <span>{{userAdvancedStats.passesPerAssist}}</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12" align="center">
                <button  data-target="modal4" id="initStats" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 "> Add Stats </button>
                <button data-target="modal5" id="accStats" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 "> Add Acc Stats </button>
            </div>
        </div>


        <div id="modal4" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col s12">Add Stats so far</div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="games">Games:</label>
                    <input type="number" name="games" id="games" ng-model="statGames" value="">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="goals">Goals:</label>
                    <input type="number" name="goals" id="goals" ng-model="statGoals" value="">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="assists"> Assists:</label>
                    <input type="number" name="assists" id="assists" ng-model="statAssists" value="">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="minutes">Minutes:</label>
                    <input type="number" name="minutes" id="minutes" ng-model="statMinutes" value="">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="minutes">Passes:</label>
                    <input type="number" name="passes" id="passes" ng-model="statPasses" value="">
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <a href="#!" ng-click="addStats()" class="waves-effect waves-green btn-flat">Submit Stats</a>
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>

        <div id="modal5" class="modal">
            <div class="modal-content">
                <div class="row">
                <div class="col s12">Add Stats since latest update</div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="games">Games:</label>
                        <input type="number" name="games" id="games" ng-model="stataccGames" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="goals">Goals:</label>
                        <input type="number" name="goals" id="goals" ng-model="stataccGoals" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="assists"> Assists:</label>
                        <input type="number" name="assists" id="assists" ng-model="stataccAssists" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="minutes">Minutes:</label>
                        <input type="number" name="minutes" id="minutes" ng-model="stataccMinutes" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="minutes">Passes:</label>
                        <input type="number" name="passes" id="passes" ng-model="stataccPasses" value="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" ng-click="addaccStats()" class="waves-effect waves-green btn-flat">Submit Stats</a>
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -------------------------------------->
    <div class="page" id="graph" data-role="page">
        <ul class="collection">
            <li class="collection-item avatar" id="toLineChart">
                <i class="mdi-editor-insert-chart circle yellow"></i>
                <p class="padding-top">Line Chart</p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar" ng-click="FauxBuy()">
                <i class="mdi-file-folder circle light-blue"></i>
                <p class="padding-top">Horizontal Bar Chart (£5.99)</p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar" id="" ng-click="FauxBuy()">
                <i class="mdi-action-assessment circle green"></i>
                <p class="padding-top">Column Chart (£5.99)</p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar" ng-click="FauxBuy()">
                <i class="mdi-av-play-arrow circle red"></i>
                <p class="padding-top">Pie Chart (£5.99)</p>
                <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
        </ul>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -------------------------------------->
    <div class="page" id="lineChart" data-role="page">
        <form id="graphForm">
            <div class="row">
                <div class="input-field col s12">
                    <label for="graphName">Graph Title:</label>
                    <br>
                    <input type="text" name="graphName" required ng-model="graphName" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="graphXLabel">X Axis Label:</label>
                    <br>
                    <input type="text" name="graphXLabel" required ng-model="graphXLabel" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="graphYLabel">Y Axis Label:</label>
                    <br>
                    <input type="text" name="graphYLabel" required ng-model="graphYLabel" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp1">Data Point 1:</label>
                    <br>
                    <input type="number" name="dp1" required ng-model="dp1" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp2">Data Point 2:</label>
                    <br>
                    <input type="number" name="dp2" ng-model="dp2" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp3">Data Point 3:</label>
                    <br>
                    <input type="number" name="dp3" ng-model="dp3" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp4">Data Point 4:</label>
                    <br>
                    <input type="number" name="dp4" ng-model="dp4" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp5">Data Point 5:</label>
                    <br>
                    <input type="number" name="dp5" ng-model="dp5" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp6">Data Point 6:</label>
                    <br>
                    <input type="text" name="dp6" required ng-model="dp6" value="" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="center-text col s12">
                <button data-target="modal3" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 " ng-click="createLineGraph()"> Create </button>
                <button class="waves-effect waves-light btn light-blue lighten-2 "> Back </button>
            </div>
        </div>
        <div id="modal3" class="modal">
            <div class="modal-content">
              <div id="lineGraph"></div>
            </div>
            <div class="modal-footer">
              <a href="#!" ng-click="saveLineGraph()" class="waves-effect waves-green btn-flat">Save</a>
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
        
    </div>
    <!------------------------------------------------------- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="page" id="pieChart" data-role="page">
        <form id=" pieForm">
            <div class="row">
                <div class="input-field col s12">
                    <label for="pieName">Pie Chart Title:</label>
                    <br>
                    <input type="text" name="pieName" required ng-model="pieName" value="" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>Add up tp 6 values</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp1">Data Point 1:</label>
                    <br>
                    <input type="number" name="dp1" required ng-model="Piedp1" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp2">Data Point 2:</label>
                    <br>
                    <input type="number" name="dp2" ng-model="Piedp2" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp3">Data Point 3:</label>
                    <br>
                    <input type="number" name="dp3" ng-model="Piedp3" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp4">Data Point 4:</label>
                    <br>
                    <input type="number" name="dp4" ng-model="Piedp4" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp5">Data Point 5:</label>
                    <br>
                    <input type="number" name="dp5" ng-model="Piedp5" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp6">Data Point 6:</label>
                    <br>
                    <input type="text" name="dp6" required ng-model="Piedp6" value="" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="center-text col s12">
                <button data-target="modal7" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 " ng-click="createPieChart()"> Create </button>
                <button class="waves-effect waves-light btn light-blue lighten-2 "> Back </button>
            </div>
        </div>
        <div id="modal7" class="modal">
            <div class="modal-content">
              <div id="pieChart"></div>
            </div>
            <div class="modal-footer">
              <a href="#!" ng-click="savePieChart()" class="waves-effect waves-green btn-flat">Save</a>
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
    </div>
    <!------------------------------------------------------- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="page" id="barChart" data-role="page">
        <div id="barChart"></div>
        <br>
        <form>Create a BarChart
            <div class="row">
                <div class="input-field col s12">
                    <label for="graphName">Graph Title:</label>
                    <br>
                    <input type="text" name="graphName" required ng-model="BarName" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="graphXLabel">X Axis Label:</label>
                    <br>
                    <input type="text" name="graphXLabel" required ng-model="BarXLabel" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="graphYLabel">Y Axis Label:</label>
                    <br>
                    <input type="text" name="graphYLabel" required ng-model="BarYLabel" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp1">Data Point 1:</label>
                    <br>
                    <input type="number" name="dp1" required ng-model="Bardp1" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp2">Data Point 2:</label>
                    <br>
                    <input type="number" name="dp2" ng-model="Bardp2" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp3">Data Point 3:</label>
                    <br>
                    <input type="number" name="dp3" ng-model="Bardp3" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp4">Data Point 4:</label>
                    <br>
                    <input type="number" name="dp4" ng-model="Bardp4" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp5">Data Point 5:</label>
                    <br>
                    <input type="number" name="dp5" ng-model="Bardp5" value="" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="dp6">Data Point 6:</label>
                    <br>
                    <input type="text" name="dp6" required ng-model="Bardp6" value="" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="center-text col s12">
                <button data-target="modal8" class=" btn modal-trigger waves-effect waves-light btn light-blue lighten-2 " ng-click="createBarChart()"> Create </button>
                <button class="waves-effect waves-light btn light-blue lighten-2 "> Back </button>
            </div>
        </div>
        <div id="modal8" class="modal">
            <div class="modal-content">
              <div id="barChart"></div>
            </div>
            <div class="modal-footer">
              <a href="#!" ng-click="saveBarChart()" class="waves-effect waves-green btn-flat">Save</a>
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
    <!------------------------------------------------------- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="page" id="columnChart" data-role="page">
        <form>Create a ScatterChart
        </form>
    </div>
    <!------------------------------------------------------- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="page" id="example" data-role="page">
        <div id="exampleChart"></div>
        <button class="waves-effect waves-light btn light-blue lighten-2" onclick="randomGraph()">Random Chart</button>
        <button class="waves-effect waves-light btn light-blue lighten-2" onclick="updateRandomGraph">Update</button>
        <button class="waves-effect waves-light btn light-blue lighten-2" id="closeExample" onclick="closeGraph()">Close</button>
    </div>
    <div class="page" id="about" data-role="page">
    </div>
    <div class="page" id="offline" data-role="page">
        <button id="offlineBack" class="waves-effect waves-light btn light-blue lighten-2">Back</button>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
    <script type="text/javascript" src="js/ang/app.js"></script>
    <script type="text/javascript" src="js/ang/services.js"></script>
</body>

</html>
