<form id="logInForm">
    <div class="input-field">
        <label for="loginName">Username:</label>
        <br>
        <input type="text" name="loginName" id="loginName" class="validate" value="" />
    </div>
    <div class="input-field">
        <label for="loginPass">Password:</label>
        <br>
        <input type="password" name="loginPass" id="loginPass" class="validate" value="" />
    </div>
    <div id="logInSend" class="waves-effect waves-light btn light-blue lighten-2"> Log in</div>
    <input type="reset" class="waves-effect waves-light btn light-blue lighten-2">
    <button id="closeLogIn" class="waves-effect waves-light btn light-blue lighten-2">Close</button>
</form>