<div>
	<form id="signUpForm">
		<label for="signUpName">Username:</label>
		<br>
		<input type="text" name="signUpName" id="signUpName" value="" />
		<br>
		<label for="signUpPass">Password:</label>
		<br>
		<input type="password" name="signUpPass" id="signUpPass" value="" />
		<br>
		<label for="signUpPass">Email:</label>
		<br>
		<input type="text" name="email" id="email" value="" />
		<br>
		<div id="signUpSend" class="waves-effect waves-light btn light-blue lighten-2 "> Sign Up</div>
		<input type="reset" class="waves-effect waves-light btn light-blue lighten-2">
		<button id="closeSignUp" class="waves-effect waves-light btn light-blue lighten-2">Close</button>
	</form>
</div>