<div >
    <p>Stats</p>
    <form name="statsAdd" id="statsAdd" method="get">
        <label for="games">Games:</label>
        <input type="number" name="games" id="games" value="">
        <BR>
        <label for="goals">Goals:</label>
        <input type="number" name="goals" id="goals" value="">
        <BR>
        <label for="assists"> Assists:</label>
        <input type="number" name="assists" id="assists" value="">
        <BR>
        <label for="minutes">Minutes:</label>
        <input type="number" name="minutes" id="minutes" value="">
        <BR>
        <label for="minutes">Passes:</label>
        <input type="number" name="passes" id="passes" value="">
        <BR>
        <div id="submitStats" class="waves-effect waves-light btn light-blue lighten-2"> Submit</div>
        <input type="reset" class="waves-effect waves-light btn light-blue lighten-2">
    </form>
</div>