header{
	display: none;
}
a{
	text-decoration: none;
}
p{
	font-family: arimoregular, 'Geneva', 'sans-serif';
}
li{
	font-family: arimoregular, 'Geneva', 'sans-serif';
	text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
	font-family: arimoregular, 'Geneva', 'sans-serif';
	text-transform: capitalize;
}
#main-navigation li a{
	color: #FDFDF0;
}
.navItem{
	color: #FDFDF0;
	border-bottom: 1px solid #FDFDF0;
}
#title{
	position: absolute;
	top: 30px;
	left: 30%;
	font-size: 20px;
	color: #FDFDF0;
	font-family: arimoregular, 'Geneva', 'sans-serif';
	text-transform: capitalize;
	font-weight: normal;
}
#page-title{
	font-family: arimoregular, 'Geneva', 'sans-serif';
	text-transform: capitalize;
}
#welcome{
	padding-left: 10px;
}
#profile{
	display: none;
}
#stats{
	display: none;
}
#graph{
	display: none;
}
#about{
	display: none;
}
#example{
	display: none;
}
#profileGraphView{
	display: none;
}
#lineChart{
	display: none;
}
#pieChart{
	display: none;
}
#barChart{
	display: none;
}
#columnChart{
	display: none;
}
#offline{
	display: none;
}
#homeButtons{
	position: absolute;
	top: 450px;
	left: 20%;
}
.snazzyButton {
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  border-color: #FDFDF0;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #69D2E7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#exampleChart{
	width:320px;
	height:180px;
	padding-bottom: 20px;
}
#phonegapcamera{
	display: none;
}
#fileupload{
	display: none;
}
#saveButton{
	display: none;
}
#graphList{
	display: inline;
}
#graphTypeList{
	display: inline;
}
#pointsNumberList{
	display: inline;
}
#image{
	width: 250px;
	height: 250px;
	padding-left: 25%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 4px;
	border-color: #fff;
}
a{
	text-decoration: none;
}
.page{
    margin-bottom: 80px;
}
ul.side-nav a{
    width: 100%;
}
nav ul a{
    padding: 0;
}
.wrapper{
	position: absolute;
    left: 20%;
}
.padding-left{
	padding-left: 20px;
}
.modal-buttons{
	width: 100%;
	padding-bottom: 10px;
}
.profilePic{
	max-width: 60%;
	height: auto;
	border: 5px solid #4fc3f7;
}
.padding-top{
	padding-top: 15px;
}
p{
	text-transform: none;
}
#backgroundImage{
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: #4fc3f7;
}

#page-title{
    font-size: 2em;
}
#backgroundImage img{
    margin: auto; 
    width: 44%;
    height: 24%;
}
#accStatsButton{
	display: none;
}
#statsRow{
	display: none;
}
#advancedStatsRow{
	display: none;
}
#unfollow{
	display: none;
}
#utilities{
	display: none;
}
#friendsSearch{
	display: none;
}
#matchReports{
	display: none;
}
#writeReports{
	display: none;
}
#statButtons{
	padding-top: 80%;
}
.graphType{
	height: 90%; 
}
#profileFirst{
	padding-top: 10px;
}
.blue{
	background-color: #4fc3f7;
}
#step1{
	display: none;
}
#end{
	display: none;
}
#following{
	display: none;
}
#exampleGraph{
	width: 100px;
}
#searchResult{
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
#friendProfile{
	display: none;
}
#offlineButton{
	font-size: 0.5em;
	color: #EEE;
	text-decoration: underline;
}
.list p {
	padding: 5px;
}
@font-face {
    font-family: 'alegreya_sansregular';
    src: url('font/alegreyasans-regular-webfont.eot');
    src: url('font/alegreyasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/alegreyasans-regular-webfont.woff2') format('woff2'),
         url('font/alegreyasans-regular-webfont.woff') format('woff'),
         url('font/alegreyasans-regular-webfont.ttf') format('truetype'),
         url('font/alegreyasans-regular-webfont.svg#alegreya_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arimoregular';
    src: url('font/arimo-regular-webfont.eot');
    src: url('font/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/arimo-regular-webfont.woff2') format('woff2'),
         url('font/arimo-regular-webfont.woff') format('woff'),
         url('font/arimo-regular-webfont.ttf') format('truetype'),
         url('font/arimo-regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}